:root {
  /* --slate-gray: #BEBEBE;
  --teal: #44A6A6;
  --off-white: #F2F2F2; */
  --dark-teal: #498C86;
  --light-teal: #7ED9D0;
  --neutral-brown: #8C735D; 
  --dark-brown: #403027;
  --sandy-brown: #D9BFB0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex; 
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: var(--sandy-brown);
}

.category {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1em;
  justify-items: center;
  align-items: center;
}

.container {
  width: 80vw; 
  height: auto; 
  margin: auto;
  border: 10px solid var(--sandy-brown);
}

.conversion-container:nth-child(2),  {
  margin-bottom: 2em;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  margin: 0px 0px 2rem 0px;
  color: var(--sandy-brown);
}

h2 {
  margin: auto;
  font-family: 'Fredericka the Great', cursive;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  color: var(--sandy-brown);
}

.hebrew {
  font-family: 'Noto Serif Hebrew';
  color: var(--sandy-brown);
  font-size: 2rem;
  font-weight: 400;
  background-color: var(--slate-gray);
  padding: 1.25rem;
}

.input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container {
  background-color: var(--dark-teal);
  height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem 0rem 4rem;
}

.input-positioner {
  position: absolute;
  left: calc(50% - (30vh /2));
  top: 18vh; 
}

.input--text, .input--text:focus, .input--text:focus-visible {
  border: var(--sandy-brown) solid 5px;
  background-color: rgba(0,0,0,.0);
  width: 50%;
  font-size: 10rem;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  padding: calc((30vh/ 2) - 3rem );
  color: var(--sandy-brown);
}

.middle {
  width: 80%;
  margin: auto;
  padding-top: 30%;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--teal);
  text-align: center;
  padding: .5rem;
}

.submit--button {
  padding: 1rem 2rem;
  font-family: 'Raleway';
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--sandy-brown);
  color: var(--teal);
  border: solid 2px rgba(0,0,0,.1);
  display: block;
  margin-left: auto;
}

@media (max-width: 800px) {
  .grid-area {
    display: inherit;
  } 

  .input {
    display: block;
  }
  
}