/* =============================== CREATE COLOR PALETTE VARIABLES =============================== */

:root {
  /* --slate-gray: #BEBEBE;40302
  --teal: #44A6A6;
  --off-white: #F2F2F2; */
  --dark-teal: #498c86;
  --light-teal: #7ed9d0;
  --neutral-brown: #8c735d;
  --dark-brown: #403027;
  --sandy-brown: #d9bfb0;
}

/* =============================== NORMALIZE  =============================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* =============================== ELEMENTS  =============================== */

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--neutral-brown);
  font-size: 12px;
}

h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 6rem;
  font-weight: 100;
  text-align: center;
  margin: 0px 0px 2rem 0px;
  color: white;
  text-shadow: black;
  letter-spacing: 15px;
}

h2 {
  margin: auto;
  font-family: "Fredericka the Great", cursive;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  color: var(--neutral-brown);
}

input[type="text"],
input[type="text"]:focus {
  border: var(--sandy-brown) solid 5px 2px 2px 5px;
  background-color: rgba(0, 0, 0, 0);
  width: 50%;
  font-size: 10rem;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  padding: calc((30vh / 2) - 3rem);
  color: var(--sandy-brown);
  outline: none;
  border-radius: 50%;
  box-shadow: 7px 7px 16px #8c735d, -2px 0px 6px var(--sandy-brown);
  mix-blend-mode: normal;
}

.accordion-bar {
  width: 100%;
  border-top: 9px solid transparent;
  border-image: linear-gradient(to right, var(--neutral-brown), var(--sandy-brown));
  border-image-slice: 1;
  position: relative;
  transition: 300ms;
  height: 100%;
  background-color: #d9bfb070;
}

.accordion-bar-hover {
  transform: scale(1.01);
  border-color: var(--light-teal);
  box-shadow: #403027;
}


/* =============================== HEADER SECTION  =============================== */

.input-container {
  background-image: linear-gradient(
    0deg,
    hsl(174deg 54% 67%) 0%,
    hsl(174deg 47% 63%) 1%,
    hsl(174deg 41% 60%) 6%,
    hsl(174deg 36% 56%) 17%,
    hsl(174deg 32% 52%) 34%,
    hsl(174deg 30% 49%) 57%,
    hsl(175deg 30% 45%) 81%,
    hsl(175deg 31% 42%) 100%
  );
  height: 30vh;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 4rem 0rem 4rem;
  border-bottom: 2px solid var(--sandy-brown);
  transition: 300ms ease;
}

.input--text,
.input--text:focus,
.input--text:focus-visible {
  border: var(--neutral-brown) solid 5px;
  background-color: rgba(0, 0, 0, 0);
  width: 50%;
  font-size: 10rem;
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  padding: calc((30vh / 2) - 3rem);
  color: var(--neutral-brown);
}

.eight-together {
  font-size: 5rem;
  font-family: "Noto Serif Hebrew";
}

/* =============================== LEFT COLUMN  =============================== */

.hebrew {
  font-family: "Noto Serif Hebrew";
  color: var(--neutral-brown);
  font-size: 1.45rem;
  font-weight: 400;
  background-color: var(--slate-gray);
  padding: 1rem;
  text-align: left;
}

/* =============================== MIDDLE COLUMN  =============================== */

.category {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 1em;
  justify-items: center;
  align-items: flex-start;
}

.center-line {
  position: absolute;
  left: 50%;
}

.container {
  width: 80vw;
  height: auto;
  margin: auto;
  border: 10px solid var(--neutral-brown);
}

.conversion-container {
  display: flex;
  justify-content: space-between;
}

.conversion-container:nth-child(2) {
  margin-bottom: 2em;
}

.center-p {
  padding: 0.5rem 0;
}

.direction-left {
  direction: ltr;
}

.hidden {
  display: none;
}

.input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  transition: 300ms ease;
}

.spinner {
  animation-name: spin;
  animation-duration: 3s;
}

.middle {
  width: 95%;
  margin: auto;
  padding-top: 35%;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.margin-right > p,
.margin-left > p {
  line-height: 2rem;
}

.submit--button {
  padding: 1rem 2rem;
  font-family: "Raleway";
  font-weight: 800;
  text-transform: uppercase;
  background-color: var(--neutral-brown);
  color: var(--teal);
  border: solid 2px rgba(0, 0, 0, 0.1);
  display: block;
  margin-left: auto;
}

/* =============================== RIGHT COLUMN  =============================== */

.hebrew-side-bar > p {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--teal);
  text-align: center;
  padding: 0.5rem;
}


.right-align {
  text-align: right;
  line-height: 2rem;
}

/* =============================== MEDIA QUERIES  =============================== */

/* @media (min-width: 801px) and (max-width: 16500px) { 

  input[type="text"], input[type="text"]:focus {
    border: var(--sandy-brown) solid 5px 2px 2px 5px;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    font-size: 10rem;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    padding: calc((30vh / 2) - 3rem);
    color: var(--sandy-brown);
    outline: none;
    border-radius: 50%;
    box-shadow: 7px 7px 16px #8c735d, -2px 0px 6px var(--sandy-brown);
    mix-blend-mode: normal;
    margin: auto;
    display: block;
  }

} */


@media (max-width: 1200px) {

  .category {
    display: block;
    padding: 1rem;
}

  .container {
    width: 80vw;
    height: auto;
    margin: 40px auto;
    border: 10px solid var(--neutral-brown);
  }

  .conversion-container {
    display: block;
    justify-content: space-between;
  }

  .eight-together {
    font-size: 1.5rem;
    font-family: "Noto Serif Hebrew";
    text-align: center;
    margin-bottom: 3vh;
  }

  .grid-area {
    display: inherit;
  }

  .hebrew {
    font-size: 1.45rem;
    padding: 1.5rem 0rem;
  }

  .hebrew-side-bar > p {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    color: var(--teal);
    text-align: center;
    padding: 2rem 1.5rem;
  }

  h1 {
    font-family: "Fredericka the Great", cursive;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    margin: 0px 0px 2rem 0px;
    color: white;
    text-shadow: black;
    letter-spacing: 10px;
  }

  input[type="text"], input[type="text"]:focus {
    border: var(--sandy-brown) solid 5px 2px 2px 5px;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    font-size: 10rem;
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    padding: calc((30vh / 2) - 3rem);
    color: var(--sandy-brown);
    outline: none;
    border-radius: 50%;
    box-shadow: 7px 7px 16px #8c735d, -2px 0px 6px var(--sandy-brown);
    mix-blend-mode: normal;
    margin: 0rem auto 3vh auto;
    display: block;
}

.middle {
  padding: 0rem;
}

  .margin-right > p, .margin-left > p {
    line-height: 1.5rem;
  }

  p {
    font-size: .75rem;
    margin-bottom: 0rem;
  }

  .right-align {
    font-size: 2rem;
  }
}


@media (min-width: 300px) and (max-width: 1208px) {
  .input-container {
    background-image: linear-gradient( 0deg, hsl(174deg 54% 67%) 0%, hsl(174deg 47% 63%) 1%, hsl(174deg 41% 60%) 6%, hsl(174deg 36% 56%) 17%, hsl(174deg 32% 52%) 34%, hsl(174deg 30% 49%) 57%, hsl(175deg 30% 45%) 81%, hsl(175deg 31% 42%) 100% );
    height: 33vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 2px solid var(--sandy-brown);
    margin-bottom: 13rem;
}
}

@media (min-width: 1209px) and (max-width: 1999px) {
  .input-container {
    background-image: linear-gradient(
    0deg,
    hsl(174deg 54% 67%) 0%,
    hsl(174deg 47% 63%) 1%,
    hsl(174deg 41% 60%) 6%,
    hsl(174deg 36% 56%) 17%,
    hsl(174deg 32% 52%) 34%,
    hsl(174deg 30% 49%) 57%,
    hsl(175deg 30% 45%) 81%,
    hsl(175deg 31% 42%) 100%
  );
    height: 25rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem 0rem 4rem;
    border-bottom: 2px solid var(--sandy-brown);
  }
}

@media (min-width: 2000px) {
  .input-container {
    background-image: linear-gradient(
    0deg,
    hsl(174deg 54% 67%) 0%,
    hsl(174deg 47% 63%) 1%,
    hsl(174deg 41% 60%) 6%,
    hsl(174deg 36% 56%) 17%,
    hsl(174deg 32% 52%) 34%,
    hsl(174deg 30% 49%) 57%,
    hsl(175deg 30% 45%) 81%,
    hsl(175deg 31% 42%) 100%
  );
    height: 17.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem 0rem 4rem;
    border-bottom: 2px solid var(--sandy-brown);
  }
}

@media (max-width: 299px) {
  .input-container {
    background-image: linear-gradient( 0deg, hsl(174deg 54% 67%) 0%, hsl(174deg 47% 63%) 1%, hsl(174deg 41% 60%) 6%, hsl(174deg 36% 56%) 17%, hsl(174deg 32% 52%) 34%, hsl(174deg 30% 49%) 57%, hsl(175deg 30% 45%) 81%, hsl(175deg 31% 42%) 100% );
    height: 24.5vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-bottom: 2px solid var(--sandy-brown);
    margin-bottom: 7rem;
  }

  input[type="text"], input[type="text"]:focus {
    border: var(--sandy-brown) solid 5px 2px 2px 5px;
    background-color: rgba(0, 0, 0, 0);
    width: 50%;
    font-size: 10rem;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    padding: calc((30vh / 2) - 3rem);
    color: var(--sandy-brown);
    outline: none;
    border-radius: 50%;
    box-shadow: 7px 7px 16px #8c735d, -2px 0px 6px var(--sandy-brown);
    mix-blend-mode: normal;
    margin: 0rem auto 3vh auto;
    display: block;
  }
}

/* =============================== KEY FRAMES FOR ANIMATIONS  =============================== */

@keyframes spin {
  from {
    transform: rotate3d(0);
  }

  to {
    transform: rotate3d(0, 1, 0, 720deg);
  }
}
